@import 'tailwindcss';

:root {
  --background: theme(colors.slate.50); /* light background */
  --foreground: theme(colors.slate.900); /* dark text */
}

:root.dark {
  --background: theme(colors.slate.950); /* dark background */
  --foreground: theme(colors.slate.50); /* light text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

body {
  @apply bg-background text-foreground font-sans;
}
